<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB27kEGb9aksnSj3z0oHaNuHbklnCbMiCM</string>
	<key>GCM_SENDER_ID</key>
	<string>857370261728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.credcheck</string>
	<key>PROJECT_ID</key>
	<string>credcheck-22065</string>
	<key>STORAGE_BUCKET</key>
	<string>credcheck-22065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857370261728:ios:1683744f7e061e993cb885</string>
</dict>
</plist>